/* Desktop View */
@media only screen and (min-width: 768px) {
  body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Poppins", sans-serif;
  }

  h1 {
    font-size: 2rem;
  }

  nav {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 4px #e2e2e2;
    color: #333333;
  }

  #navbar {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 4px #e2e2e2;
    font-family: "Poppins", "Helvetica Neue", "Helvetica", sans-serif;
    color: #333333;
  }

  #navbar-inner {
    width: 100%;
    /* margin: auto; */
    max-width: 1000px;
  }

  .nav-section.left {
    float: left;
    margin-left: 20px;
  }

  #acm-logo {
    background-size: cover;
    vertical-align: top;
    height: 60px;
    width: 180px;
    margin-top: 5px;
  }

  a,
  a:visited {
    color: inherit;
  }

  .content {
    margin-top: 70px;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: 10vh 10vw;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    margin: 1rem 0;
  }

  .vanity-input {
    display: inline;
  }

  form label {
    margin: 0.7rem 0;
    color: #707070;
  }

  .edit {
    display:inline-block;
  }

  .edit,
  form input[type="text"],
  form input[type="password"] {
    margin: 0 0 1rem;
    border-bottom: #c5c5c5 2px solid;
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    width: 500px;
  }

  form input[type="text"]:focus,
  form input[type="password"]:focus {
    border-bottom: #c5c5c5 2px solid;
    border-top: none;
    border-right: none;
    border-left: none;
  }

  #url {
    width: 100%;
  }

  form input[type="submit"],
  button,
  a.prev,
  a.next {
    border-radius: 5px;
    background-color: #333333;
    color: white;
    font-size: 0.9rem;
    padding: 0.5rem 0.9rem;
    cursor: pointer;
    margin: 1rem 0;
    position: relative;
    border: none;
  }

  form input[type="submit"]:hover,
  button:hover {
    background-color: #555555;
  }

  .vanity-input {
    position: relative;
  }

  .vanity-input p {
    display: inline-block;
    margin: 0.2rem 0;
    text-align: left;
  }

  #vanity {
    width: 295px;
  }

  .vanity-input .line {
    left: 202px;
  }

  .line {
    height: 2px;
    width: 1px;
    background-color: #c5c5c5;
    position: relative;
    display: inline-block;
    transition: 0.3s width ease-in-out;
    top: -18px;
    float: left;
  }

  input[type="text"]:focus,
  input[type="password"]:focus {
    outline: none;
  }

  form input[type="text"]:focus + .line,
  form input[type="password"]:focus + .line {
    width: 503px;
    background-color: #1e6cff;
  }

  form #vanity:focus + .line {
    width: 298px;
    background-color: #1e6cff;
  }

  .error {
    color: #df6f6f;
    border-radius: 5px;
    text-align: left;
    margin: 0.2rem 0 0.7rem;
  }

  #clipboard {
    width: 150px;
  }

  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 0;
  }

  .item::-webkit-scrollbar {
    display: none;
  }

  li {
    list-style-type: none;
  }

  .item {
    white-space: nowrap;
    overflow-x: scroll;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  li:nth-child(3n),
  li:nth-child(3n + 1) {
    overflow-x: clip;
  }

  li:nth-child(6n + 1),
  li:nth-child(6n + 2),
  li:nth-child(6n + 3) {
    background-color: #d3d3d3;
  }

  li:nth-child(3n),
  li:nth-child(3n + 2) {
    border-left: 2px solid #b3b3b3;
  }

  li.title {
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background-color: #ffffff;
    border-bottom: 2px solid #b3b3b3;
  }

  .title:before,
  .title:after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 0.4rem;
    width: 0.75rem;
    bottom: -0.4rem;
  }

  .title:before {
    left: 0;
  }

  .title:after {
    right: 0;
  }

  .flex-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  a.prev {
    margin-right: auto;
    text-decoration: none;
  }

  a.next {
    margin-left: auto;
    text-decoration: none;
  }

  #button-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    padding: 0;
  }

  .admin-button {
    background-color: #555555;
    width: 3.8rem;
    padding: 0;
    height: 1.7rem;
    margin: 0;
    font-size: 0.8rem;
  }

  .admin-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 1fr 1fr;
    padding: 0;
  }

  .admin-container li {
    background-color: initial;
    border: initial;
  }

  .admin-container li.title {
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background-color: #ffffff;
    border-bottom: 2px solid #b3b3b3;
  }

  .centerText {
    text-align: center;
  }

  .centerContent {
    position: relative;
  }

  .centerContent > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .buttonWrapper {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  .admin-container li:nth-child(10n + 11),
  .admin-container li:nth-child(10n + 12),
  .admin-container li:nth-child(10n + 13),
  .admin-container li:nth-child(10n + 14),
  .admin-container li:nth-child(10n + 15) {
    background-color: #d3d3d3;
  }

  .admin-container li:nth-child(5n),
  .admin-container li:nth-child(5n + 2),
  .admin-container li:nth-child(5n + 3),
  .admin-container li:nth-child(5n + 4) {
    border-left: 2px solid #b3b3b3;
  }

  .admin-container li:nth-child(5n + 2),
  .admin-container li:nth-child(5n + 3) {
    overflow-x: clip;
  }
}

/* Mobile View */
@media only screen and (max-width: 768px) {
  body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Poppins", sans-serif;
  }

  h1 {
    font-size: 2rem;
  }

  nav {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 4px #e2e2e2;
    color: #333333;
  }

  #navbar {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 4px #e2e2e2;
    font-family: "Poppins", "Helvetica Neue", "Helvetica", sans-serif;
    color: #333333;
  }

  #navbar-inner {
    width: 100%;
    /* margin: auto; */
    max-width: 1000px;
  }

  .nav-section.left {
    float: left;
    margin-left: 20px;
  }

  #acm-logo {
    background-size: cover;
    vertical-align: top;
    height: 60px;
    width: 180px;
    margin-top: 5px;
  }

  a,
  a:visited {
    color: inherit;
  }

  .content {
    margin-top: 70px;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: 10vh 10vw;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    margin: 1rem 0;
  }

  .vanity-input {
    display: inline;
  }

  form label {
    margin: 0.7rem 0;
    color: #707070;
  }

  .edit {
    display:inline-block;
  }

  .edit,
  form input[type="text"],
  form input[type="password"] {
    margin: 0 0 1rem;
    border-bottom: #c5c5c5 2px solid;
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    width: 500px;
  }

  form input[type="text"]:focus,
  form input[type="password"]:focus {
    border-bottom: #c5c5c5 2px solid;
    border-top: none;
    border-right: none;
    border-left: none;
  }

  #url {
    width: 100%;
  }

  form input[type="submit"],
  button,
  a.prev,
  a.next {
    border-radius: 5px;
    background-color: #333333;
    color: white;
    font-size: 0.9rem;
    padding: 0.5rem 0.9rem;
    cursor: pointer;
    margin: 1rem 0;
    position: relative;
    border: none;
  }

  form input[type="submit"]:hover,
  button:hover {
    background-color: #555555;
  }

  .vanity-input {
    position: relative;
  }

  .vanity-input p {
    display: inline-block;
    margin: 0.2rem 0;
    text-align: left;
  }

  #vanity {
    width: 295px;
  }

  .vanity-input .line {
    left: 202px;
  }

  .line {
    height: 2px;
    width: 1px;
    background-color: #c5c5c5;
    position: relative;
    display: inline-block;
    transition: 0.3s width ease-in-out;
    top: -18px;
    float: left;
  }

  input[type="text"]:focus,
  input[type="password"]:focus {
    outline: none;
  }

  form input[type="text"]:focus + .line,
  form input[type="password"]:focus + .line {
    width: 503px;
    background-color: #1e6cff;
  }

  form #vanity:focus + .line {
    width: 298px;
    background-color: #1e6cff;
  }

  .error {
    color: #df6f6f;
    border-radius: 5px;
    text-align: left;
    margin: 0.2rem 0 0.7rem;
  }

  #clipboard {
    width: 150px;
  }

  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 0;
  }

  .item::-webkit-scrollbar {
    display: none;
  }

  li {
    list-style-type: none;
  }

  .item {
    white-space: nowrap;
    overflow-x: scroll;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  li:nth-child(3n),
  li:nth-child(3n + 1) {
    overflow-x: clip;
  }

  li:nth-child(6n + 1),
  li:nth-child(6n + 2),
  li:nth-child(6n + 3) {
    background-color: #d3d3d3;
  }

  li:nth-child(3n),
  li:nth-child(3n + 2) {
    border-left: 2px solid #b3b3b3;
  }

  li.title {
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background-color: #ffffff;
    border-bottom: 2px solid #b3b3b3;
  }

  .title:before,
  .title:after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 0.4rem;
    width: 0.75rem;
    bottom: -0.4rem;
  }

  .title:before {
    left: 0;
  }

  .title:after {
    right: 0;
  }

  .flex-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  a.prev {
    margin-right: auto;
    text-decoration: none;
  }

  a.next {
    margin-left: auto;
    text-decoration: none;
  }

  #button-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    padding: 0;
  }

  .admin-button {
    background-color: #555555;
    width: 3.8rem;
    padding: 0;
    height: 1.7rem;
    margin: 0;
    font-size: 0.8rem;
  }

  .admin-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 1fr 1fr;
    padding: 0;
  }

  .admin-container li {
    background-color: initial;
    border: initial;
  }

  .admin-container li.title {
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background-color: #ffffff;
    border-bottom: 2px solid #b3b3b3;
  }

  .centerText {
    text-align: center;
  }

  .centerContent {
    position: relative;
  }

  .centerContent > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .buttonWrapper {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  .admin-container li:nth-child(10n + 11),
  .admin-container li:nth-child(10n + 12),
  .admin-container li:nth-child(10n + 13),
  .admin-container li:nth-child(10n + 14),
  .admin-container li:nth-child(10n + 15) {
    background-color: #d3d3d3;
  }

  .admin-container li:nth-child(5n),
  .admin-container li:nth-child(5n + 2),
  .admin-container li:nth-child(5n + 3),
  .admin-container li:nth-child(5n + 4) {
    border-left: 2px solid #b3b3b3;
  }

  .admin-container li:nth-child(5n + 2),
  .admin-container li:nth-child(5n + 3) {
    overflow-x: clip;
  }
}