{% extends 'base.html' %}

{% block content %}
<form method="POST" action="" novalidate>
  {{ form.hidden_tag() }}
  <label for="vanity">Custom vanity</label>
  <div class="vanity-input">
    <p>https://links.uclaacm.com/</p>
    {{ form.vanity(maxlength=100, value=vanity, readonly=true) }}
    <div class="line"></div>
  </div>
  {% for error in form.vanity.errors %}
    <p class="error">{{ error }}</p>
  {% endfor %}
  <label for="url">Enter new URL for this vanity</label>
  {{ form.url() }}
  <div class="line"></div>
  {% for error in form.url.errors %}
    <p class="error">{{ error }}</p>
  {% endfor %}
  {% if error %}
    <p class="error">{{ error }}</p>
  {% endif %}
  {{ form.submit() }}
  <a href="/all">
    <button type="button">Cancel</button>
  </a>
</form>
</section>
{% endblock %}