{% extends 'base.html' %} {% block content %}
<h1>Most Popular URLs</h1>
<ul class="container">
  <li class="title">Vanity</li>
  <li class="title">URL</li>
  <li class="title">Visits</li>
  {% for link in links %}
  <li class="item">{{ link.vanity }}</li>
  <li class="item"><a href="{{ link.url }}">{{ link.url }}</a></li>
  <li class="item">{{ link.visit_count }}</li>
  {% endfor %}
</ul>
{% if prev_url or next_url %}
<form action="" method="POST" class="flex-container">
  {{ form.hidden_tag() }} {% if prev_url %}
  <p>{{ form.submit(value="Prev")}}</p>
  {% endif %} {% if next_url %}
  <p>{{ form.submit(value="Next")}}</p>
  {% endif %}
</form>
{% endif %} {% endblock %}
