{% extends 'base.html' %}

{% block content %}
<form method="POST">
  <label for="url"></label>
  <input name="url" type="text" id="url" value="{{ request.form['url'] }}">
  <div class="line"></div>
  <label for="vanity">Custom vanity (optional)</label>
  <div class="vanity-input">
    <p>https://links.uclaacm.com/</p>
    <input name="vanity" type="text" id="vanity" value="{{ request.form['vanity']}}" maxlength="100">
    <div class="line"></div>
  </div>
  {% if error %}
    <p class="error">{{ error }}</p>
  {% endif %}
  <input type="submit" value="Make URL">
</form>
</section>
{% endblock %}